
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <base href="/EmployeeManagementAngular/EmployeeManagementAngular/"/>
        <script src="~/EmployeeManagementAngular/EmployeeManagementAngular/runtime.js"></script>
        <script src="~/EmployeeManagementAngular/EmployeeManagementAngular/polyfills.js"></script>
        @*<script src="~/EmployeeManagementAngular\EmployeeManagementAngular/scripts.js"></script>*@
    @*<script src="~/EmployeeManagementAngular/EmployeeManagementAngular/vendor.js"></script>
            <script src="~/EmployeeManagementAngular/EmployeeManagementAngular/main.js"></script>

        </head>
        <body>*@

    <title>EmployeeManagementAngular</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="~/EmployeeManagementAngular/EmployeeManagementAngular/favicon.ico">
</head>
<body>
<app-root></app-root>
<script type="text/javascript" src="~/EmployeeManagementAngular/EmployeeManagementAngular/runtime.js"></script>
<script type="text/javascript" src="~/EmployeeManagementAngular/EmployeeManagementAngular/polyfills.js"></script>
<script type="text/javascript" src="~/EmployeeManagementAngular/EmployeeManagementAngular/styles.js"></script>
@*<script type="text/javascript" src="~/EmployeeManagementAngular/EmployeeManagementAngular/scripts.js"></script>*@
<script type="text/javascript" src="~/EmployeeManagementAngular/EmployeeManagementAngular/vendor.js"></script>
<script type="text/javascript" src="~/EmployeeManagementAngular/EmployeeManagementAngular/main.js"></script>
</body>
@*<div>
    <app-root></app-root>
</div>*@

</html>
